In [48]:
Objectif du point de contrôle
Écrivez un programme Pandas pour créer et afficher un DataFrame à partir des données du dictionnaire suivantes avec des étiquettes d'index.

exam_data = {'name' : ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score' : [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'tentatives' : [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualifier' : ['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

étiquettes = ['a', 'b', 'c', 'd', 'e','f', 'g', 'h', 'i', 'j']

Instructions
Imprimez les trois premières lignes en utilisant la méthode head().
Supprimez les lignes avec des valeurs Nan.
Extrayez les colonnes « nom » et « score » du DataFrame.
Écrivez un programme Pandas pour ajouter une nouvelle ligne « k » au DataFrame avec ces valeurs (nom : « Suresh », score : 15,5, tentatives : 1, qualification : « oui »).
Écrivez un programme Pandas pour supprimer la colonne « tentatives » du DataFrame.
Ajouter une nouvelle colonne « Succès » : si le score est supérieur à 10 nous aurons 1, sinon nous aurons 0.
Après avoir exécuté le DataFrame final, exportez-le dans un fichier CSV nommé « my_data ».
C'est le moment de s'entraîner, prenez votre temps !

SyntaxError: unterminated string literal (detected at line 2) (4091326959.py, line 2)

In [94]:
import numpy as np
import pandas as pan

examData= {'name':['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'tentatives':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualifier':['oui', 'non', 'oui', 'non', 'non', 'oui', 'oui', 'non', 'non', 'oui']}

df = pan.DataFrame(examData)
print(df.head())
print('-------------------')
df=df.dropna()
print(df)
print('-------------------------')
df[['name', 'score']]
k={'name' : 'Suresh', 'score' : 15.5, 'tentatives' : 1, 'qualifier' :'oui'}
df=df.append(k, ignore_index=True)
df
df.pop('tentatives')
print(df)
print('________________________________')
succes=[1,0,1,0,1,1,0,1,1]
df["Succès"]=succes
df.to_csv('fichier.csv')
new_df=pan.read_csv('fichier.csv')
new_df

        name  score  tentatives qualifier
0  Anastasia   12.5           1       oui
1       Dima    9.0           3       non
2  Katherine   16.5           2       oui
3      James    NaN           3       non
4      Emily    9.0           2       non
-------------------
        name  score  tentatives qualifier
0  Anastasia   12.5           1       oui
1       Dima    9.0           3       non
2  Katherine   16.5           2       oui
4      Emily    9.0           2       non
5    Michael   20.0           3       oui
6    Matthew   14.5           1       oui
8      Kevin    8.0           2       non
9      Jonas   19.0           1       oui
-------------------------
        name  score qualifier
0  Anastasia   12.5       oui
1       Dima    9.0       non
2  Katherine   16.5       oui
3      Emily    9.0       non
4    Michael   20.0       oui
5    Matthew   14.5       oui
6      Kevin    8.0       non
7      Jonas   19.0       oui
8     Suresh   15.5       oui
________________________________

C:\Users\paris\AppData\Local\Temp\ipykernel_7580\3051582639.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(k, ignore_index=True)

   Unnamed: 0       name  score qualifier  Succès
0           0  Anastasia   12.5       oui       1
1           1       Dima    9.0       non       0
2           2  Katherine   16.5       oui       1
3           3      Emily    9.0       non       0
4           4    Michael   20.0       oui       1
5           5    Matthew   14.5       oui       1
6           6      Kevin    8.0       non       0
7           7      Jonas   19.0       oui       1
8           8     Suresh   15.5       oui       1